:root {
  --Almost-White: #fafafa;
  --Medium-Gray: #696969;
  --Almost-Black: #141414;
}

/* - Family: [Epilogue](https://fonts.google.com/specimen/Epilogue)
- Weights: 500, 700 */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--Medium-Gray);
  background-color: var(--Almost-White);
}

.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}

.d-none {
  display: none;
}

p {
  font-size: 16px;
  line-height: 26px;
}

h1 {
  color: var(--Almost-Black);
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

a {
  color: var(--Almost-Black);
  text-decoration: none;
  font-size: 16px;
  color: var(--Medium-Gray);
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.btn-solid {
  padding: 10px 23px;
  border-radius: 15px;
  background-color: var(--Almost-Black);
  color: var(--Almost-White);
  display: inline-block;
}

.btn-solid:hover {
  background-color: var(--Almost-White);
  border: 2px solid var(--Almost-Black);
  color: var(--Almost-black);
}

.btn-outline {
  padding: 8px 65px;
  border-radius: 15px;
  border: 2px solid var(--Medium-Gray);
  display: inline-block;
}

.btn-outline:hover {
  background-color: var(--Almost-Black);
  border-color: var(--Almost-Black);
  color: var(--Almost-White);
}

/* Global Styles - Desktop */
@media only screen and (min-width: 980px) {
  .container {
    padding: 0 40px;
  }
}

/* Navbar Section */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--Almost-Black);
  opacity: 0.8;
}

.navbar {
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--Almost-White);
  padding: 0 20px;
}

.navbar--content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar--nav {
  position: absolute;
  top: -25px;
  right: -20px;
  height: 100vh;
  padding: 100px 28px 0px 28px;
  background-color: var(--Almost-White);
}

.navbar--links {
  margin-bottom: 45px;
}

.navbar--links li {
  margin-bottom: 30px;
}

.navbar--links a:hover {
  color: var(--Almost-Black);
}

.navbar--btns li {
  margin-bottom: 30px;
}

.navbar--btns li:not(:last-child) {
  text-align: center;
  padding-bottom: 5px;
}

.btn-login:hover {
  color: var(--Almost-Black);
}

.btn-close {
  position: relative;
  z-index: 1;
}

/* Navbar Section - Desktop */
@media only screen and (min-width: 980px) {
  .overlay {
    display: none;
  }

  .navbar {
    padding: 0 40px;
  }

  .navbar--content {
    display: flex;
  }

  .navbar--logo {
    padding-top: 5px;
    /* margin-right: 42px; */
  }

  .navbar--nav {
    position: unset;
    display: flex;
    justify-content: space-between;
    height: 75px;
    padding: 0px 0px 0px 40px;
    width: 100%;
  }

  .navbar--links {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
  }

  .navbar--links li {
    margin-bottom: 0px;
    padding: 0 20px;
  }

  .navbar--btns {
    display: flex;
    align-items: center;
  }

  .navbar--btns li {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .navbar--btns li:not(:last-child) {
    padding-bottom: 0px;
    margin-right: 40px;
  }

  .btn-outline {
    padding: 8px 25px;
  }

  .btn-open {
    display: none;
  }

  .btn-close {
    display: none;
  }
}

/* Hero Section */
.hero--img {
  padding-bottom: 55px;
}

.hero--text {
  text-align: center;
}

.hero--btn {
  margin: 32px 0px 45px 0px;
}

.hero--logos {
  display: flex;
  justify-content: space-between;
  height: 26px;
}

.hero--logo:not(:last-child) {
  padding-right: 20px;
}

/* Hero Section - Desktop */
