:root {
  --Almost-White: #fafafa;
  --Medium-Gray: #696969;
  --Almost-Black: #141414;
}

/* - Family: [Epilogue](https://fonts.google.com/specimen/Epilogue)
- Weights: 500, 700 */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.container {
  width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}

.d-none {
  display: none;
}

a {
  color: var(--Almost-Black);
  text-decoration: none;
  font-size: 16px;
  color: var(--Medium-Gray);
}

li {
  list-style: none;
}

.btn {
  background-color: var(--Almost-Black);
}

.btn-outline {
  padding: 17px 65px;
  border-radius: 20px;
  border: 2px solid var(--Medium-Gray);
}

.btn-outline:hover {
  background-color: var(--Almost-Black);
  border-color: var(--Almost-Black);
  color: var(--Almost-White);
}

/* Navbar */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--Almost-Black);
  opacity: 0.8;
}

.navbar {
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--Almost-White);
}

.navbar--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar--nav {
  position: absolute;
  top: -25px;
  right: -20px;
  height: 100vh;
  padding: 100px 28px 0px 28px;
  background-color: var(--Almost-White);
}

.navbar--links {
  margin-bottom: 45px;
}

.navbar--links li {
  margin-bottom: 30px;
}

.navbar--links a:hover {
  color: var(--Almost-Black);
}

.navbar--btns li {
  margin-bottom: 30px;
}

.navbar--btns li:not(:last-child) {
  text-align: center;
  padding-bottom: 5px;
}

.btn-login:hover {
  color: var(--Almost-Black);
}

.btn-close {
  position: relative;
  z-index: 1;
}

@media only screen and (min-width: 980px) {
  .navbar--content {
    justify-content: unset;
    background-color: lawngreen;
  }

  .navbar--logo {
    margin-right: 62px;
  }

  .navbar--nav {
    position: unset;
    display: flex;
    height: 75px;
    padding: 0px;
    background-color: var(--Almost-White);
  }

  .navbar--links {
    margin-bottom: 0px;
    display: flex;
    background-color: violet;
    align-items: center;
  }

  .navbar--links li {
    margin-bottom: 0px;
  }

  .navbar--links a:hover {
    color: var(--Almost-Black);
  }

  .navbar--btns {
    display: flex;
    align-items: center;
    background-color: skyblue;
  }

  .navbar--btns li {
    margin-bottom: 0px;
  }

  .navbar--btns li:not(:last-child) {
    text-align: left;
    padding-bottom: 5px;
  }

  .navbar--links li {
    display: flex;
    padding: 0 20px;
  }

  .btn-open {
    display: none;
  }
}
